src/com/ccf/smrz/servieclient/base/smrz.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="main.smart.llj.webservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="main.smart.llj.webservice" name="SmrzServiceService">
<types>
<xsd:schema>
<xsd:import namespace="main.smart.llj.webservice" schemaLocation="http://123.206.60.110:8080/smrz_webservice/service/smrz?xsd=1"/>
</xsd:schema>
</types>
<message name="userLogin">
<part name="arg0" type="tns:loginRequestBean"/>
</message>
<message name="userLoginResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="userRegister">
<part name="arg0" type="tns:registerRequestBean"/>
</message>
<message name="userRegisterResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="saveLoginfo">
<part name="arg0" type="tns:logInfoRequestBean"/>
</message>
<message name="saveLoginfoResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getUserinfoService"/>
<message name="getUserinfoServiceResponse">
<part name="return" type="tns:userInfoServiceImpl"/>
</message>
<message name="setUserinfoService">
<part name="arg0" type="tns:userInfoServiceImpl"/>
</message>
<message name="setUserinfoServiceResponse"/>
<portType name="SmrzService">
<operation name="userLogin">
<input wsam:Action="main.smart.llj.webservice/SmrzService/userLoginRequest" message="tns:userLogin"/>
<output wsam:Action="main.smart.llj.webservice/SmrzService/userLoginResponse" message="tns:userLoginResponse"/>
</operation>
<operation name="userRegister">
<input wsam:Action="main.smart.llj.webservice/SmrzService/userRegisterRequest" message="tns:userRegister"/>
<output wsam:Action="main.smart.llj.webservice/SmrzService/userRegisterResponse" message="tns:userRegisterResponse"/>
</operation>
<operation name="saveLoginfo">
<input wsam:Action="main.smart.llj.webservice/SmrzService/saveLoginfoRequest" message="tns:saveLoginfo"/>
<output wsam:Action="main.smart.llj.webservice/SmrzService/saveLoginfoResponse" message="tns:saveLoginfoResponse"/>
</operation>
<operation name="getUserinfoService">
<input wsam:Action="main.smart.llj.webservice/SmrzService/getUserinfoServiceRequest" message="tns:getUserinfoService"/>
<output wsam:Action="main.smart.llj.webservice/SmrzService/getUserinfoServiceResponse" message="tns:getUserinfoServiceResponse"/>
</operation>
<operation name="setUserinfoService">
<input wsam:Action="main.smart.llj.webservice/SmrzService/setUserinfoServiceRequest" message="tns:setUserinfoService"/>
<output wsam:Action="main.smart.llj.webservice/SmrzService/setUserinfoServiceResponse" message="tns:setUserinfoServiceResponse"/>
</operation>
</portType>
<binding name="SmrzServicePortBinding" type="tns:SmrzService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="userLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="main.smart.llj.webservice"/>
</input>
<output>
<soap:body use="literal" namespace="main.smart.llj.webservice"/>
</output>
</operation>
<operation name="userRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="main.smart.llj.webservice"/>
</input>
<output>
<soap:body use="literal" namespace="main.smart.llj.webservice"/>
</output>
</operation>
<operation name="saveLoginfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="main.smart.llj.webservice"/>
</input>
<output>
<soap:body use="literal" namespace="main.smart.llj.webservice"/>
</output>
</operation>
<operation name="getUserinfoService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="main.smart.llj.webservice"/>
</input>
<output>
<soap:body use="literal" namespace="main.smart.llj.webservice"/>
</output>
</operation>
<operation name="setUserinfoService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="main.smart.llj.webservice"/>
</input>
<output>
<soap:body use="literal" namespace="main.smart.llj.webservice"/>
</output>
</operation>
</binding>
<service name="SmrzServiceService">
<port name="SmrzServicePort" binding="tns:SmrzServicePortBinding">
<soap:address location="http://123.206.60.110:8080/smrz_webservice/service/smrz"/>
</port>
</service>
</definitions>